.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
  background-color: #252633; 
}

.center {
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  max-width: 1080px;
  flex: 1;
}